body {
    margin: 0px;
    padding: 0px;
    width: 1550px;
    background-color: black;
    margin: auto;
}

.game {
    width: 1100px;
    height: 900px;
    background-size: cover;
    float: left;
    margin: 0px auto;
}

.game > section {
    display: none;
    white-space: pre-line;
}
.game > section:target {
    display: block;
}
.game > .intro {
    display: block;
}
.game > section:target ~ .intro {
    display: none;
}

section {
    width: 700px;
    height: 200px;
    border-radius: 12px;
    background-color: transparent;
    margin: 0px auto;
    text-align: center;
    padding-top: 30px;
}

.dialogue {
    display: block;
    background-color: #ebebeb;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0px auto;
    margin-top: 15px;
    border-style: groove;
    border-width: thick;
    font-size: 30px;
    width: 700px;
    height: 150px;
    overflow: scroll;
    opacity: 0.9;
    font-family: Cuprum;
}

.button {
    display: block;
    width: 400px;
    height: 40px;
    background: #4E9CAF;
    padding-top: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    font-family: Iceberg;
    font-size: 20px;
    margin: 2px auto;
}

.sidebar {
    float: left;
    height: 900px;
    width: 230px;
    background-color: black;
    margin: 0 auto;
    color: white;
}

img {
    height: 300px;
    width: 500px;
}

.logo {
    width: 200px;
    height: 150px;
    margin: auto;
    text-align: center;
    padding: 50px 0;
    font-family: Atomic Age;
    font-size: 40px;
    color: #c70212;
}

.sides {
    width: 200px;
    margin: auto;
    text-align: center;
    padding: 40px 0;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    font-family: Audiowide;
}

.home:link {
    color: #9172ed;
    background-color: transparent; 
    text-decoration: none;
}

.home:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}